#body {
    margin: 0;
    padding: 0;
    background-color:pink
    
  }
  #formQuestion{
    margin: 30px;
  }
  #cards {
   
    border: 5px solid lightseagreen;
    background-color: lightsteelblue;
    
  }